<h1>Add Line Item to Inventory</h1>

<form action="/inventory" method="post">
  <div class="form-wrapper">

  <div class="form-el">
    <label for="part_number"> Part Number:</label>
    <input type="text" name="part_number" id="part_number"/>
  </div>

  <div class="form-el">
    <label for="manufacturer"> Manufacturer:</label>
    <input type="text" name="manufacturer" id="manufacturer"/>
  </div>

  <div class="form-el">
    <label for="description"> Description:</label>
    <input type="text" name="description" id="description"/>
  </div>

  <div class="form-el">
    <label for="category"> Category:</label>
    <input type="text" name="category" id="category"/>
  </div>

  <div class="form-el">
    <label for="condition"> Condition:</label>
    <input type="text" name="condition" id="condition"/>
  </div>

  <div class="form-el">
    <label for="status"> Status:</label>
    <input type="text" name="status" id="status"/>
  </div>

  <div class="form-el">
    <label for="quantity"> Quantity:</label>
    <input type="text" name="quantity" id="quantity"/>
  </div>

  <div class="form-el">
    <label for="supplier_id"> Supplier:</label>
    <input type="text" name="supplier_id" id="supplier_id"/>
  </div>

  <div class="form-el">
    <label for="unit_buy_price"> Unit Buy Price:</label>
    <input type="text" name="unit_buy_price" id="unit_buy_price"/>
  </div>

  <div class="form-el">
    <label for="target_sell_price"> Target Sell Price:</label>
    <input type="text" name="target_sell_price" id="target_sell_price"/>
  </div>

  <div class="form-el">
    <label for="min_sell_price"> Minimum Sell Price:</label>
    <input type="text" name="min_sell_price" id="min_sell_price"/>
  </div>

  <div class="form-el">
    <input class="" type='submit' value="Create Line Item">
  </div>

  </div>

</form>
