<h1>StockChimp </h1>
<p>Keeps an eye on your stock!</p>

<img src="https://robertkatai.com/wp-content/uploads/2019/01/wsi-imageoptim-new-mailchimp-logo-.png" alt="StockChimp" style="width:90px;height:100px;">
