<!DOCTYPE html>
<html>
<head>
  <title>StockChimp</title>
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/buttons.css">
  <link rel="stylesheet" type="text/css" href="/forms.css">
  <link rel="stylesheet" type="text/css" href="/structure.css">
  <link rel="stylesheet" type="text/css" href="/tables.css"
</head>
<body>
<main class="flex flex--row">
  <nav>
    <ul>
      <li>
        <a href="/"><img src="https://pbs.twimg.com/profile_images/937273820653559809/WVq1AR-t_400x400.jpg" alt="StockChimp" style="width:100px;height:100px;">
        </a>
      </li>
      <li>
        <a href="/suppliers">Suppliers</a>
      </li>
      <li>
        <a href="https://www.smartsheet.com/sites/default/files/IC-Generic-Purchase-Order-Template.jpg">Purchase Order</a>
      </li>
      <li>
        <a href="https://www.imprint-e.com/wp-content/uploads/2019/05/mc9300-warehouse-d3x0793.jpg">Goods In</a>
      </li>
      <li>
        <a href="/inventory">Inventory</a>
      </li>
      <li>
        <a href="https://miro.medium.com/max/4240/1*QVw2pkNc3kCV0157kUHW1Q.jpeg">Sales Order</a>
      </li>
      <li>
        <a href="http://capitallogisticsworldwide.com/wp-content/uploads/2014/12/pick-and-pack-.jpg">Goods Out</a>
      </li>
      <li>
        <a href="/inventory">Customers</a>
      </li>
      <li>
        <a href="/inventory">Returns</a>
      </li>
    </ul>
  </nav>
  <section id="content">
  <%= yield %>
  </section>
  </main>
</body>
</html>
