
input {
  width: 150px;
  padding: 5px 30px 5px 5px;
  margin: 10px 0;
  font-size: 0.8em;
}

input[type="submit"] {
  text-transform: uppercase;
}

select {
 width: 150px;
 padding: 10px 30px 10px 10px;
 margin: 15px 0;
 font-size: 0.8em;
 -webkit-appearance: none;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}
