<h1> New Supplier Wizard </h1>

<form action="/suppliers" method="post">
  <div class="form-wrapper">


  <div class="form-el">
    <label for="company_name"> Company Name:</label>
    <input type="text" name="company_name" id="company_name"/>
  </div>

  <div class="form-el">
    <label for="address"> Address:</label>
    <input type="text" name="address" id="address"/>
  </div>

  <div class="form-el">
    <label for="contact_name"> Contact Name:</label>
    <input type="text" name="contact_name" id="contact_name"/>
  </div>

  <div class="form-el">
    <label for="contact_job_title"> Contact Job Title:</label>
    <input type="text" name="contact_job_title" id="contact_job_title"/>
  </div>

  <div class="form-el">
    <label for="contact_phone_number"> Contact Phone Number:</label>
    <input type="text" name="contact_phone_number" id="contact_phone_number"/>
  </div>

  <div class="form-el">
    <input class="" type='submit' value="Create Supplier">
  </div>

  </div>

</form>
